.ds_store
*.espresso
*.codekit
*.sassc
*.espressostorage
*.codekit
*.esproj
*.codekit

assets/.DS_Store

view/layout/foot.php

WebPro3.esproj/user.miatollaksvik.espressostorage

build/assets/data/stedsnavn.json

build/assets/data/stedsnavn-min.json

*.espressostorage

WebPro3.esproj/user.miatollaksvik.espressostorage

config.codekit3

build/assets/css/main.css
