.bg
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.background-overlay
    width: inherit
    max-height: 80vh
    min-height: 350px
    background: rgba(96, 125, 139, .1)

.primary-header
    @extend .bg
    max-height: 80vh
    min-height: 350px
    position: relative
    padding: 0px 0px
    color: $theme-color-text
    &-text
        position: absolute
        bottom: 40px
        text-align: center
        width: 100%
        margin: 0px

.secondary-header
    padding: 10px 0px
    background-color: $theme-color-300
    color: $theme-color-text

footer
    background-color: $theme-color
    color: $theme-color-text
    padding: 20px
    position: relative
    margin-top: 60px
    padding-bottom: 80px
    clear: both
    float: left
    @extend .clearfix

    .copyright
        width: 100%
        background-color: $theme-color-700
        position: absolute
        bottom: 0px
        left: 0px
        text-align: center
        padding: 10px
        box-sizing: border-box
        color: $theme-color-text

.container
    font-family: 'Roboto', sans-serif
    font-weight: 300
    @extend .col-l-7
    @extend .col-9
    @extend .col-s-12
    @extend .col-m-10
    @extend .col--center
    &__side
        position: absolute
        width: 200px
        padding: 30px
        height: 200px
        border-radius: 100px
        background-color: $accent-color
        right: 0px
        bottom: -10px
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, .2)
        &:hover
            background-color: $accent-color-700

        &--small
            width: 100%
            color: $accent-color-text
            background-color: $accent-color
            padding: 20px
    

.page-header
    text-shadow: 0px 1px rgba(0, 0, 0, .6)
    margin-bottom: 40px
    margin-top: 30px
    position: relative
    &.underline
        text-align: center
    &.underline:after
        content: ''
        display: block
        position: absolute
        width: 50px
        left: 50%
        transform: translateX(-50%)
        bottom: -20px
        height: 2px
        background-color: $accent-color

    &.underline-accent:after
        background-color: $theme-color

.list-simple
    li
        list-style: none
        padding: 0px

    &--horisontal
        li
            display: inline-block
            margin-left: 20px


.res-categorie
	margin-top: 30px

	& h2
		font-size: 1.5em
		color: #999
		margin-bottom: 15px
	& ul li
		list-style: none
		margin-bottom: 15px
		color: #555
	& input




// Food Blocks

.food-preview
    padding: 20px 0px
    @extend .clearfix
    &__text
        height: 300px
        text-align: center
        position: relative
        background-color: lighten($palette-grey, 30%)
        .content
            position: absolute
            left: 50%
            top: 50%
            transform: translateX(-50%) translateY(-50%)
        &:after, &:before
            content: ''
            display: block
            position: absolute
            width: 75%
            left: 50%
            transform: translateX(-50%)
            height: 1px
            background-color: $accent-color

        &:before
            top: 20px
        &:after
            bottom: 20px

    &__image
        box-shadow: inset 2px 2px 0px rgba(255, 255, 255, .4), inset -2px -2px 0px rgba(255, 255, 255, .4)
        height: 300px
        @extend .bg


.recipie-preview
    position: relative
    height: 125px
    margin-bottom: 25px
    background-color: $theme-color-700
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2), inset 2px 2px 0px rgba(255, 255, 255, .4), inset -2px -2px 0px rgba(255, 255, 255, .4)
    @extend .bg
    &:hover
        &:before, &:after
            background-image: inherit
            width: 100%
            height: inherit
            box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2), inset 2px 2px 0px rgba(255, 255, 255, .4), inset -2px -2px 0px rgba(255, 255, 255, .4)
        &:before
            transform: rotate(-5deg) translateX(15px) translateY(8%) skewX(4deg) skewY(-4deg)
        &:after
            transform: rotate(5deg) translateX(-15px) translateY(8%) skewX(-4deg) skewY(4deg)
     
    &:before, &:after
        transition: all .4s ease
        @extend .bg
        position: absolute
        width: 90%
        background-color: rgba(0, 0, 0, 0.2)
        height: 90%
        content: ''
        z-index: -1
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2)
    &:before
        left: 0px
        transform: rotate(-1deg) translateX(6px) translateY(8%) skewX(4deg) skewY(-4deg)
    &:after
        right: 0px
        transform: rotate(1deg) translateX(-6px) translateY(8%) skewX(-4deg) skewY(4deg)
        

.recipie-text
    padding-top: 5px
    font-size: 16px
    height: 30px
.center
    text-align: center

.login
    position: fixed
    top: 0px
    width: 100%

.login-screen, .register-screen
    @extend .clearfix
    height: calc(100vh - 55px)
    margin-top: 55px
    width: 50%
    padding-top: 200px
    color: #f8f8f8
    float: left
    transition: all .5s ease
    position: relative
    .container
        padding: 20px
        transition: all .5s ease
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)

    .hidden-opacity
        transition: all .5s ease
        height: 0px
        overflow: hidden
        display: block
        opacity: 0


    &.active
        cursor: auto
        width: 80%
        .container
            position: absolute
            left: 50%
            top: 100px
            transform: translateX(-50%)

        .hidden-opacity
            overflow: visible
            height: 300px
            opacity: 1


    &.disable
        cursor: pointer
        width: 20%

    h1
        font-size: 72px

@media (max-width: $iron-grid-breakpoint-small)
    .login-screen
        margin-top: 0px

    .login-screen, .register-screen
        width: 100%

        height: calc(50vh - 27.5px)
        .container
            left: 50%
            top: 50%
            transform: translateX(-50%) translateY(-50%)
            .page-header
                font-size: 30px

        &.active
            width: 100%
            height: calc(80vh - 27.5px)
            .container
                top: 0px

        &.disable
            width: 100%
            height: calc(20vh - 27.5px)

.login-screen
    background-color: $accent-color


.register-screen
    background-color: $theme-color




.ingredients
    width: 100%
    margin-bottom: 30px

    li
        padding: 10px
        border-bottom: 1px solid $paper-devider-color
        list-style: none

.recipie-view
	margin-top: 40px
	& img
		margin-top: 20px
	& h1
		margin-bottom: 20px

.res-desc
	margin-bottom: 20px
	margin-left: 15px
	& p
		max-width: 550px

.image--circle
    @extend .bg
    display: block
    border-radius: 50%
    width: 250px
    height: 250px

.visjon

	& p
    	max-width: 600px

.partner

	height: 150px
	width: 150px
	margin-right: 15px
	margin-bottom: 100px
	float: left



.taxon-prew
     margin-bottom: 15px
     color: #454545
     height: 250px
     & p
     	color: $theme-color
     	height: 55px
     & h3
     	padding-bottom: 0
     	
.taxon-info
	padding-left: 50px
	padding-bottom: 30px
	& p
		max-width: 500px 
	& h2
		color: $theme-color
	& img
		margin-top: 10px
	& li 
 		list-style: none
 		margin-top: 15px
 		margin-bottom: 15px
 		letter-spacing: 0.8px
 		
.line
	border-top: 1px solid #898989
	
.category-list
	letter-spacing: 0.5px
	margin-bottom: 50px
	& h3
		padding-bottom: 15px
 		
 	
 	
 	
 	
