.nav
    width: 100%
    background-color: $theme-color-700
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .8)
    @extend .clearfix
    &--fixed
        position: fixed
        z-index: 99999
        top: 0px
    
    &__item
        list-style: none
        margin: 0px
        padding: 0px
        float: left
        position: relative
        a
            padding: 20px
            display: block
            color: $theme-color-text
            font-family: sans-serif
            text-decoration: none
            letter-spacing: 1px
            &:hover
                background-color: $theme-color
                color: $theme-color-text
        
        &--active a
            background: $theme-color
            font-weight: bold
            &:hover
                background-color: $theme-color
        &--image
            @extend .bg
            margin: 0px
            height: 30px
            width: 30px
            border-radius: 24px
            margin-bottom: -10px
            margin-top: -20px
            margin-right: 5px
            display: inline-block
    &__item--burger
        display: none
    ul
        padding: 0px
        margin: 0px
        &.nav--left
            float: left
        &.nav--right
            float: right
            
@media (max-width: $iron-grid-breakpoint-medium)
    .nav__item, .nav__item a
        width: 100%
        
    .nav__item
        display: none
        width: 100%
    .nav--right 
        width: 100%
        .nav__item
            width: 50%
    .nav.active .nav__item
        display: block
        
    .nav__item--burger
        display: block